<section class="single-blog-post" *ngIf="post">
  <h2 class="post-title">{{ post.title }}</h2>
  <div class="post-image">
    <img [src]="post.image" [alt]="post.title" />
  </div>
  <div class="post-content">
    <span class="post-tag">{{ post.tag }}</span>
    <p>
      {{ post.content }}
    </p>
  </div>
</section>
<section *ngIf="!post" class="single-blog-post">
  <h2 class="post-title">Post not found</h2>
  <div class="post-content">
    <p>The blog post you are looking for does not exist.</p>
  </div>
</section>
